.card-login {
  padding: 32px 16px;
}
.eye {
  cursor: pointer;
}
.content {
  height: 650px;
  padding: 0 144px;
  // background-image: linear-gradient(red, #ffa502);
  // background-image: url('../../../assets/background.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-form {
  width: 50px;
}

.mat-card-title {
  font-size: 28px;
}

.back-home {
  margin-top: 32px;
  margin: 32px 0 auto;
}
