.card-register {
  padding: 32px 16px;
}
.eye {
  cursor: pointer;
}
.content {
  height: 650px;
  padding: 0 144px;
  // background-image: url('../../../assets/background.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.mat-card-title {
  font-size: 28px;
}
