.mat-column-name {
  padding: 0 24px;
  min-width: 200px;
  border-right: 1px solid #e0e0e0;
}
.mat-column-image {
  padding: 0 24px;
  min-width: 100px;
}
.mat-column-price {
  padding: 0 24px;
  min-width: 100px;
}
.mat-column-description {
  padding: 0 24px;
  min-width: 100px;
}
.mat-column-createdAt {
  padding: 0 24px;
  min-width: 200px;
}
.mat-column-categoryName {
  padding: 0 24px;
  min-width: 200px;
}
.mat-column-action {
  padding: 0 24px;
  min-width: 200px;
  border-left: 1px solid #e0e0e0;
}
