.box {
  border-radius: 4px;
  border: 1px solid #e0e0e0;
}
.box-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  height: 32px;
  padding: 8px;
}
.box-content {
  padding: 8px;
  min-height: 50px;
}
