.mat-column-userName {
  padding: 0 24px;
  border-right: 1px solid #e0e0e0;
  min-width: 200px;
}
.mat-column-name {
  padding: 0 24px;
  min-width: 200px;
}
.mat-column-password {
  padding: 0 24px;
  min-width: 200px;
}
.mat-column-role {
  padding: 0 24px;
  min-width: 200px;
}
.mat-column-createdAt {
  border-left: 1px solid #e0e0e0;
  padding: 0 24px;
  min-width: 200px;
}
