<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" class="tool-bar cs-shadow-sm">
  <div fxLayout="row" fxLayoutAlign="center center">
    <!-- <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button> -->
    <a routerLink="/" class="home">CShop</a>
    <span class="example-spacer"></span>
  </div>

  <div class="auth">
    <ng-container #container></ng-container>
  </div>
</mat-toolbar>
